<h2 mat-dialog-title>{{tituloAccion}} Producto</h2>

<mat-dialog-content>
    <form [formGroup]="formularioProveedor">
        <mat-grid-list cols="1" rowHeight="80px">

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off" formControlName="nombreProveedor">
                    <mat-icon matSuffix>fit_screen</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input matInput autocomplete="off" formControlName="telefono">
                    <mat-icon matSuffix>edit_square</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input matInput autocomplete="off" formControlName="email" type="text">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Direccion</mat-label>
                    <input matInput autocomplete="off" formControlName="direccion" type="text">
                    <mat-icon matSuffix>location_on</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary"
        [disabled]="formularioProveedor.invalid"
        (click)="guardarEditar_Proveedor()"
    >{{botonAccion}}</button>


</mat-dialog-actions>
